@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 16px;
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
}

/* анимация для скелетона */
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
