@import 'tailwindcss';

@layer theme, base, components, utilities;

@import './theme.css' layer(theme);
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    font-size: 16px;
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  }

  button {
    cursor: pointer;
  }

  address {
    font-style: normal;
  }
}

@utility display-l {
  @apply font-sans text-6xl leading-[4rem] font-normal text-on-surf tracking-[-0.25px];
}

@utility display-m {
  @apply font-sans text-5xl leading-12 font-normal text-on-surf;
}

@utility display-s {
  @apply font-sans text-4xl leading-11 font-normal text-on-surf;
}

@utility headline-l {
  @apply font-sans text-[2rem] leading-10 font-normal text-on-surf;
}

@utility headline-m {
  @apply font-sans text-[1.75rem] leading-9 font-normal text-on-surf;
}

@utility headline-s {
  @apply font-sans text-2xl leading-8 font-normal text-on-surf;
}

@utility title-l {
  @apply font-sans text-[1.375rem] leading-7 font-normal text-on-surf;
}

@utility title-m {
  @apply font-sans text-base leading-6 font-normal tracking-[0.15px] text-on-surf;
}

@utility title-s {
  @apply font-sans text-sm leading-5 font-medium tracking-[0.1px] text-on-surf;
}

@utility label-l {
  @apply font-sans text-sm leading-5 font-medium tracking-[0.1px] text-on-surf;
}

@utility label-m {
  @apply font-sans text-xs leading-4 font-medium tracking-[0.5px] text-on-surf;
}

@utility label-s {
  @apply font-sans text-[0.6875rem] leading-4 font-medium tracking-[0.5px] text-on-surf;
}

@utility body-l {
  @apply font-sans text-base leading-6 font-normal tracking-[0.5px] text-on-surf;
}

@utility body-m {
  @apply font-sans text-sm leading-5 font-normal tracking-[0.25px] text-on-surf;
}

@utility body-s {
  @apply font-sans text-xs leading-4 font-normal tracking-[0.4px] text-on-surf;
}

@utility elevation-1 {
  @apply rounded-2xl bg-violet-50 shadow-sm;
}

@utility elevation-2 {
  @apply rounded-2xl bg-gray-100 shadow-sm;
}

@utility elevation-3 {
  @apply rounded-2xl bg-gray-200 shadow-sm;
}

@utility elevation-4 {
  @apply rounded-2xl bg-zinc-200 shadow-sm;
}

@utility card-outlined {
  @apply rounded-xl bg-surf p-4 outline outline-outline-variant;
}

@utility card-elevated {
  @apply rounded-xl bg-surf p-4 shadow-elevation-1;
}

@utility skeleton {
  display: block;
  width: 100%;
  background: linear-gradient(110deg; #ececec 8%; #f5f5f5 18%; #ececec 33%);
  background-size: 200% 100%;
  border-radius: '5px';
  animation: '1.3s shine linear infinite';
}

@utility link {
  @apply cursor-pointer font-bold text-primary underline;
}

@utility container {
  @apply mx-auto px-4;
}

/* анимация для скелетона */
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
