@theme {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --color-primary: rgb(43 99 139);
  --color-surf-tint: rgb(43 99 139);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(204 229 255);
  --color-on-primary-container: rgb(5 75 113);
  --color-secondary: rgb(81 96 111);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(212 228 246);
  --color-on-secondary-container: rgb(57 72 87);
  --color-tertiary: rgb(6 107 91);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(160 242 222);
  --color-on-tertiary-container: rgb(0 81 68);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(247 249 255);
  --color-on-background: rgb(24 28 32);
  --color-surf: rgb(247 249 255);
  --color-on-surf: rgb(24 28 32);
  --color-surf-variant: rgb(222 227 235);
  --color-on-surf-variant: rgb(66 71 78);
  --color-outline: rgb(114 120 126);
  --color-outline-variant: rgb(194 199 206);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surf: rgb(45 49 53);
  --color-inverse-on-surf: rgb(238 241 246);
  --color-inverse-primary: rgb(152 204 249);
  --color-primary-fixed: rgb(204 229 255);
  --color-on-primary-fixed: rgb(0 30 49);
  --color-primary-fixed-dim: rgb(152 204 249);
  --color-on-primary-fixed-variant: rgb(5 75 113);
  --color-secondary-fixed: rgb(212 228 246);
  --color-on-secondary-fixed: rgb(13 29 42);
  --color-secondary-fixed-dim: rgb(184 200 217);
  --color-on-secondary-fixed-variant: rgb(57 72 87);
  --color-tertiary-fixed: rgb(160 242 222);
  --color-on-tertiary-fixed: rgb(0 32 26);
  --color-tertiary-fixed-dim: rgb(132 214 194);
  --color-on-tertiary-fixed-variant: rgb(0 81 68);
  --color-surf-dim: rgb(215 218 223);
  --color-surf-bright: rgb(247 249 255);
  --color-surf-cont-lowest: rgb(255 255 255);
  --color-surf-cont-low: rgb(241 244 249);
  --color-surf-cont: rgb(235 238 243);
  --color-surf-cont-high: rgb(230 232 238);
  --color-surf-cont-highest: rgb(224 226 232);

  --shadow-elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --shadow-elevation-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --shadow-elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}

:root.dark {
  --color-primary: rgb(152 204 249);
  --color-surf-tint: rgb(152 204 249);
  --color-on-primary: rgb(0 51 80);
  --color-primary-container: rgb(5 75 113);
  --color-on-primary-container: rgb(204 229 255);
  --color-secondary: rgb(184 200 217);
  --color-on-secondary: rgb(35 50 63);
  --color-secondary-container: rgb(57 72 87);
  --color-on-secondary-container: rgb(212 228 246);
  --color-tertiary: rgb(132 214 194);
  --color-on-tertiary: rgb(0 56 47);
  --color-tertiary-container: rgb(0 81 68);
  --color-on-tertiary-container: rgb(160 242 222);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(16 20 24);
  --color-on-background: rgb(224 226 232);
  --color-surf: rgb(16 20 24);
  --color-on-surf: rgb(224 226 232);
  --color-surf-variant: rgb(66 71 78);
  --color-on-surf-variant: rgb(194 199 206);
  --color-outline: rgb(140 145 152);
  --color-outline-variant: rgb(66 71 78);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surf: rgb(224 226 232);
  --color-inverse-on-surf: rgb(45 49 53);
  --color-inverse-primary: rgb(43 99 139);
  --color-primary-fixed: rgb(204 229 255);
  --color-on-primary-fixed: rgb(0 30 49);
  --color-primary-fixed-dim: rgb(152 204 249);
  --color-on-primary-fixed-variant: rgb(5 75 113);
  --color-secondary-fixed: rgb(212 228 246);
  --color-on-secondary-fixed: rgb(13 29 42);
  --color-secondary-fixed-dim: rgb(184 200 217);
  --color-on-secondary-fixed-variant: rgb(57 72 87);
  --color-tertiary-fixed: rgb(160 242 222);
  --color-on-tertiary-fixed: rgb(0 32 26);
  --color-tertiary-fixed-dim: rgb(132 214 194);
  --color-on-tertiary-fixed-variant: rgb(0 81 68);
  --color-surf-dim: rgb(16 20 24);
  --color-surf-bright: rgb(54 58 62);
  --color-surf-cont-lowest: rgb(11 15 18);
  --color-surf-cont-low: rgb(24 28 32);
  --color-surf-cont: rgb(28 32 36);
  --color-surf-cont-high: rgb(39 42 46);
  --color-surf-cont-highest: rgb(49 53 57);

  --shadow-elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --shadow-elevation-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --shadow-elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}
